
@media (min-width: 1120px) {
    header:hover {transform: translateY(-3px) scale(1.02); box-shadow: 0 12px 35px rgba(114,165,228,0.6),0 8px 25px rgba(139,92,246,0.45);}
    section:hover, .projeto-card:hover {transform: translateY(-6px) scale(1.03);}
}


@media (min-width: 768px) and (max-width: 1120px) {
    section {padding: 40px 50px; max-width: 700px;}
    .projeto-card {max-width: 600px;}
     .projeto-card iframe {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
     .projetos-grid {grid-template-columns: 1fr 1fr; gap: 30px;}
}


@media (max-width: 767px) {
    header {flex-direction: column; gap: 15px; font-size: 0.9em;}
    section, .projeto-card {
        width: 95%;     
        max-width: 500px; 
        margin: 10px auto;
        transform:none !important;
        box-shadow:0 8px 20px rgba(0,0,0,0.2) !important;
        padding: 20px;   
    }

    section h2 {font-size: 1.6em;}
    .projeto-card h3 {font-size: 1.2em;}
    .projeto-card p {font-size: 0.95em;}
    .projeto-card a {font-size: 0.95em; max-width: 100%; margin: 10px auto;}
    .projetos-grid {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .projeto-card iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 12px;
    }
}