@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


html, body {
    overflow: auto;
}


header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}


main > section {
   width: 300px;      
   max-width: 90%;   
   background-color: #fff;
   padding: 20px;
   border-radius: 20px;
   box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.6);
}


#msg, #foto {
    text-align: center;
    margin-top: 20px;
}

p {
    margin: 10px;
    padding: 10px;
    color: rgb(0, 0, 0); 
}

img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    width: 100%;
}