@charset "UTF-8";

/*#F0E69D amarelinho 
#E0DEA9 amarelinho claro
#E0DA65 amarelinho escuro */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #E0DEA9;
    font-family: system-ui, sans-serif;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


section#login {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    overflow: hidden;

    display: flex;
    flex-direction: column; 
    width: 320px;
    height: 640px;
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}


#imagem {
    background: #E0DEA9 url(../imagens/pexels-shvetsa-3683056.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 185px;
    width: 100%;
}


#formulario {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

div#formulario > h1 {
    text-align: center;
    font-size: 2em;
}

div#formulario > p {
    text-align: justify;
    font-size: 1em;
}

form > div.campo {
    background-color: #f5ef7f;
    border: 2px solid rgba(0, 0, 0, 0.575);
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    margin: 5px 0px;

}

span#igrupo {
    color: rgb(59, 58, 58);
    padding: 5px;
}


span#ilock {
    color: rgb(59, 58, 58);

    padding: 5px;
}

div.campo > input {
    background-color: #E0DEA9;
    font-size: 1em;
    width: calc(100% - 50px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 5px;
    transform: translateY(-8px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 95%;
    height: 28px;
    background-color: #E0DA65;
    color: rgb(37, 35, 35);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;

}
form > input[type=submit]:hover {
    background-color: #E0DEA9;
}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    color: black;
    width: 100%;
    height: 32px;
    background-color: #E0DEA9;
    padding-top: 5px;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: rgb(70, 69, 69);
}
